version: '3.8'

services:
  app:
    container_name: catchsensor_app
    build:
      context: .
      args:
        VITE_API_URL: ${VITE_API_URL:-http://localhost:5000}
    ports:
      - "5000:5000"
      - "1884:1884"
      - "1885:1885"
    environment:
      - PORT=5000
      - DB_HOST=catchsensor_db
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=catchsensor
      - NODE_ENV=production
      - JWT_SECRET=${JWT_SECRET}
      - VITE_API_URL=${VITE_API_URL}
      - APP_BASE_URL=${APP_BASE_URL}
      - FIREBASE_SERVICE_ACCOUNT_B64=${FIREBASE_SERVICE_ACCOUNT_B64}
    depends_on:
      catchsensor_db:
        condition: service_healthy
    restart: always
    networks:
      - default
      - npm_shared # Allows Nginx Proxy Manager to reach this container by name

  catchsensor_db:
    image: mariadb:latest
    container_name: catchsensor_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME:-catchsensor}
    ports:
      - "3306:3306"
    volumes:
      - catchsensor_db_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  catchsensor_db_data:


networks:
  npm_shared:
    external: true
    name: nginx-proxy-manager_default
