version: '3.8'

services:
  app:
    build: .
    container_name: trapsensor_app
    ports:
      - "5000:5000"
      - "1884:1884"
    # env_file: .env # Uncomment this if you want to use a .env file on the server
    environment:
      - PORT=5000
      - DB_HOST=db
      - DB_PORT=3306
      - NODE_ENV=production
      - JWT_SECRET=please_change_this_in_the_app_later
      - DB_PASS=password
      - DB_NAME=trapsensor
      - DB_USER=user
    depends_on:
      - db
    restart: always

  db:
    image: mariadb:10.6
    container_name: trapsensor_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-root_password}
      MYSQL_DATABASE: ${DB_NAME:-trapsensor}
      MYSQL_USER: ${DB_USER:-user}
      MYSQL_PASSWORD: ${DB_PASS:-password}
    volumes:
      - trapsensor_db_data:/var/lib/mysql

volumes:
  trapsensor_db_data:
