version: '3.8'

services:
  app:
    container_name: catchsensor_app
    build: .
    ports:
      - "5000:5000"
      - "1884:1884"
    environment:
      - PORT=5000
      - DB_HOST=catchsensor_db
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=catchsensor
      - NODE_ENV=production
      - JWT_SECRET=please_change_this_for_production
    depends_on:
      - catchsensor_db
    restart: always

  catchsensor_db:
    image: mariadb:latest
    container_name: catchsensor_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME:-catchsensor}
    ports:
      - "3306:3306"
    volumes:
      - catchsensor_db_data:/var/lib/mysql
    restart: always

volumes:
  catchsensor_db_data:
